<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/slate.bootstrap.css")" rel="stylesheet" type="text/css" />
        @*<script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")"></script>
        <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>*@
        @*@Styles.Render("~/Content/css")*@
        @Styles.Render("~/Content/slate.bootstrap.css")
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Test Blog</a>
                </div>
            </div>
            <div>
                <ul id="menu" class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Blog Posts", "Index", "BlogPost")</li>
                    <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </nav>
        <section id="main">
            @RenderBody()
            <p>Copyright TestBlog. All rights reserved.</p>
        </section>
        @Scripts.Render("~/Scripts/bootstrap.js")
    </body>
</html>
