@using Dados
@model List<Dados.BlogPost>


@{
    ViewBag.Title = "Blog Posts";
}

@section Scripts
{
    @Scripts.Render("~/bundles/commentScript")
}

@foreach (var item in Model)
{
    <div class="col-lg-12">
        <div class="well well-lg">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(dadosItem => item.Title) - Posted by: @Html.DisplayFor(dadosItem => item.User.UserName)</h3>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(dadosItem => item.Post)
                </div>
                @Html.Hidden("GetPostID" + item.PostId, @Html.DisplayFor(dadosItem => item.PostId))
                @Html.Hidden("GetUserID", @Html.DisplayFor(dadosItem => item.UserId))

                <div class="row col-lg-5">
                    <a class="btn btn-success" data-toggle="modal" data-target="#newCommentModal" id="newCommentBtn" PostId="item.PostId">New Comment</a>
                    <a class="btn btn-default" id="showAllCommentsBtn">Show All Comments</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="newCommentModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">New Comment</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <div class="row col-lg-12">
                                    
                            <div class="form-group">
                                <input id="PostID" name="PostID" type="hidden" value="@Html.DisplayFor(dadosItem => item.PostId)">
                                <input id="UserID" name="UserID" type="hidden" value="#GetUserID">
                                <textarea class="form-control" rows="6" id="inputComment" required></textarea>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveComment">Save changes</button>
                </div>
            </div>
        </div>
    </div>

}